---
import About from "@/components/About.astro";
import Experience from "@/components/Experience.astro";
import Header from "@/components/Header.astro";
import Home from "@/components/Home.astro";
import Projects from "@/components/Projects.astro";
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/Footer.astro";
---

<Layout title="Uriel RC">
  <div class="flex justify-center">
    <Header />
  </div>
  <main class="flex flex-col items-center justify-center mt-4">
    <Home />
    <Experience />
    <Projects />
    <About />
  </main>
  <div class="flex justify-center">
    <Footer />
  </div>
</Layout>
