<section class="mt-5 w-[800px]" id="education">
  <div class="flex flex-col gap-3">
    <h3 class="font-bold text-xl">Education</h3>
    <ul class="list-disc ml-5">
      <li class="text-2xl">
        <article>
          <h4 class="text-xl font-light">September 2016 - August 2020</h4>
          <p class="text-lg">Bachelor of Information Technologies</p>
          <p class="text-lg font-bold">Universidad Politecnica de Victoria</p>
        </article>
      </li>
      <li class="text-2xl">
        <article>
          <h4 class="text-xl font-light">August 2013 - August 2016</h4>
          <p class="text-lg">Programming Technician</p>
          <p class="text-lg font-bold">
            Centro de Bachillerato Tecnologico Industrial y de Servicios No. 271
          </p>
        </article>
      </li>
    </ul>
  </div>
</section>
