---
import AdonisIcon from "@/components/icons/AdonisIcon.astro";
import AngularIcon from "@/components/icons/AngularIcon.astro";
import BootstrapIcon from "@/components/icons/BootstrapIcon.astro";
import CodeIgniterIcon from "@/components/icons/CodeIgniterIcon.astro";
import D3Icon from "@/components/icons/D3Icon.astro";
import JQueryIcon from "@/components/icons/JQueryIcon.astro";
import JavaScriptIcon from "@/components/icons/JavaScriptIcon.astro";
import LaravelIcon from "@/components/icons/LaravelIcon.astro";
import MSQLServerIcon from "@/components/icons/MSQLServerIcon.astro";
import MySQLIcon from "@/components/icons/MySQLIcon.astro";
import PHPIcon from "@/components/icons/PHPIcon.astro";
import VueIcon from "@/components/icons/VueIcon.astro";
import WordpressIcon from "@/components/icons/WordpressIcon.astro";
---

<section class="flex flex-col mt-16 w-[800px]">
  <div class="ml-12">
    <h3 class="text-3xl font-bold">Experience</h3>
    <ul class="list-disc ml-5">
      <li class="text-2xl">
        <article>
          <h2 class="text-lg">August 2023 - November 2023</h2>
          <h3 class="text-lg font-bold">Web Developer Internship @ Softseti</h3>
          <p class="text-lg">
            Technologies Stack:
            <ul class="flex items-center gap-1 text-base">
              <li
                class="w-16 flex items-center justify-center rounded-full bg-urcp-carolinab px-2 py-1 hover:drop-shadow-2xl hover:bg-urcp-midnightg/70 hover:rounded-full hover:scale-110 hover:transition hover:ease-in-out hover:duration-400"
              >
                <PHPIcon />
              </li>
              <li
                class="w-16 flex items-center justify-center rounded-full bg-urcp-carolinab px-2 py-1 hover:drop-shadow-2xl hover:bg-urcp-midnightg/70 hover:rounded-full hover:scale-110 hover:transition hover:ease-in-out hover:duration-400"
              >
                <LaravelIcon />
              </li>
              <li
                class="w-16 flex items-center justify-center rounded-full bg-urcp-carolinab px-2 py-1 hover:drop-shadow-2xl hover:bg-urcp-midnightg/70 hover:rounded-full hover:scale-110 hover:transition hover:ease-in-out hover:duration-400"
              >
                <CodeIgniterIcon />
              </li>
              <li
                class="w-16 flex items-center justify-center rounded-full bg-urcp-carolinab px-2 py-1 hover:drop-shadow-2xl hover:bg-urcp-midnightg/70 hover:rounded-full hover:scale-110 hover:transition hover:ease-in-out hover:duration-400"
              >
                <JavaScriptIcon />
              </li>
              <li
                class="w-16 flex items-center justify-center rounded-full bg-urcp-carolinab px-2 py-1 hover:drop-shadow-2xl hover:bg-urcp-midnightg/70 hover:rounded-full hover:scale-110 hover:transition hover:ease-in-out hover:duration-400"
              >
                <AngularIcon />
              </li>
              <li
                class="w-16 flex items-center justify-center rounded-full bg-urcp-carolinab px-2 py-1 hover:drop-shadow-2xl hover:bg-urcp-midnightg/70 hover:rounded-full hover:scale-110 hover:transition hover:ease-in-out hover:duration-400"
              >
                <JQueryIcon />
              </li>
              <li
                class="w-16 flex items-center justify-center rounded-full bg-urcp-carolinab px-2 py-1 hover:drop-shadow-2xl hover:bg-urcp-midnightg/70 hover:rounded-full hover:scale-110 hover:transition hover:ease-in-out hover:duration-400"
              >
                <MySQLIcon />
              </li>
              <li
                class="w-16 flex items-center justify-center rounded-full bg-urcp-carolinab px-2 py-1 hover:drop-shadow-2xl hover:bg-urcp-midnightg/70 hover:rounded-full hover:scale-110 hover:transition hover:ease-in-out hover:duration-400"
              >
                <WordpressIcon />
              </li>
            </ul>
          </p>
        </article>
      </li>
      <li class="text-2xl">
        <article class="mt-4">
          <h2 class="text-lg">January 2022 - October 2022</h2>
          <h3 class="text-lg font-bold">
            Software Developer @ Instituto Tamaulipeco de Infraestructura Fisica
            Educativa
          </h3>
          <p class="text-lg">
            Technologies Stack:
            <ul class="flex items-center gap-1 text-base">
              <li
                class="w-16 flex items-center justify-center rounded-full bg-urcp-carolinab px-2 py-1 hover:drop-shadow-2xl hover:bg-urcp-midnightg/70 hover:rounded-full hover:scale-110 hover:transition hover:ease-in-out hover:duration-400"
              >
                <PHPIcon />
              </li>
              <li
                class="w-16 flex items-center justify-center rounded-full bg-urcp-carolinab px-2 py-1 hover:drop-shadow-2xl hover:bg-urcp-midnightg/70 hover:rounded-full hover:scale-110 hover:transition hover:ease-in-out hover:duration-400"
              >
                <JavaScriptIcon />
              </li>
              <li
                class="w-16 flex items-center justify-center rounded-full bg-urcp-carolinab px-2 py-1 hover:drop-shadow-2xl hover:bg-urcp-midnightg/70 hover:rounded-full hover:scale-110 hover:transition hover:ease-in-out hover:duration-400"
              >
                <BootstrapIcon />
              </li>
              <li
                class="w-16 flex items-center justify-center rounded-full bg-urcp-carolinab px-2 py-1 hover:drop-shadow-2xl hover:bg-urcp-midnightg/70 hover:rounded-full hover:scale-110 hover:transition hover:ease-in-out hover:duration-400"
              >
                <MSQLServerIcon />
              </li>
            </ul>
          </p>
        </article>
      </li>
      <li class="text-2xl">
        <article class="mt-4">
          <h2 class="text-lg">May 2020 - August 2020</h2>
          <h3 class="text-lg font-bold">
            Web Developer Internship @ Universidad Politecnica de Victoria
          </h3>
          <p class="text-lg">
            Technologies Stack:
            <ul class="flex items-center gap-1 text-base">
              <li
                class="w-16 flex items-center justify-center rounded-full bg-urcp-carolinab px-2 py-1 hover:drop-shadow-2xl hover:bg-urcp-midnightg/70 hover:rounded-full hover:scale-110 hover:transition hover:ease-in-out hover:duration-400"
              >
                <JavaScriptIcon />
              </li>
              <li
                class="w-16 flex items-center justify-center rounded-full bg-urcp-carolinab px-2 py-1 hover:drop-shadow-2xl hover:bg-urcp-midnightg/70 hover:rounded-full hover:scale-110 hover:transition hover:ease-in-out hover:duration-400"
              >
                <AdonisIcon />
              </li>
              <li
                class="w-16 flex items-center justify-center rounded-full bg-urcp-carolinab px-2 py-1 hover:drop-shadow-2xl hover:bg-urcp-midnightg/70 hover:rounded-full hover:scale-110 hover:transition hover:ease-in-out hover:duration-400"
              >
                <VueIcon />
              </li>
              <li
                class="w-16 flex items-center justify-center rounded-full bg-urcp-carolinab px-2 py-1 hover:drop-shadow-2xl hover:bg-urcp-midnightg/70 hover:rounded-full hover:scale-110 hover:transition hover:ease-in-out hover:duration-400"
              >
                <MySQLIcon />
              </li>
              <li
                class="w-16 flex items-center justify-center rounded-full bg-urcp-carolinab px-2 py-1 hover:drop-shadow-2xl hover:bg-urcp-midnightg/70 hover:rounded-full hover:scale-110 hover:transition hover:ease-in-out hover:duration-400"
              >
                <D3Icon />
              </li>
            </ul>
          </p>
        </article>
      </li>
    </ul>
  </div>
</section>
