---
import UrielRCLogo from "./UrielRCLogo.astro";
---

<header class="w-[800px] fixed flex flex-row items-center justify-evenly mt-3">
  <UrielRCLogo />
  <nav
    class="px-3 w-[550px] h-12 flex items-center text-sm backdrop-blur-sm bg-urcp-carolinab/70 rounded-full shadow-xl drop-shadow-xl"
  >
    <ul class="flex flex-row items-center justify-center gap-10">
      <li>
        <a
          class="w-fit flex items-center justify-center px-3 py-1 hover:bg-urcp-midnightg/70 hover:rounded-full hover:scale-110 hover:transition hover:ease-in-out hover:duration-400"
          href="/#home">Home</a
        >
      </li>
      <li>
        <a
          class="w-fit flex items-center justify-center px-3 py-1 hover:bg-urcp-midnightg/70 hover:rounded-full hover:scale-110 hover:transition hover:ease-in-out hover:duration-400"
          href="/#experience">Experience</a
        >
      </li>
      <li>
        <a
          class="w-fit flex items-center justify-center px-3 py-1 hover:bg-urcp-midnightg/70 hover:rounded-full hover:scale-110 hover:transition hover:ease-in-out hover:duration-400"
          href="/#projects">Projects</a
        >
      </li>
      <li>
        <a
          class="w-fit flex items-center justify-center px-3 py-1 hover:bg-urcp-midnightg/70 hover:rounded-full hover:scale-110 hover:transition hover:ease-in-out hover:duration-400"
          href="/#about">About</a
        >
      </li>
      <li>
        <a
          class="w-fit flex items-center justify-center px-3 py-1 hover:bg-urcp-midnightg/70 hover:rounded-full hover:scale-110 hover:transition hover:ease-in-out hover:duration-400"
          href="/#contact">Contact</a
        >
      </li>
    </ul>
  </nav>
</header>
