---
import DownloadIcon from "@/components/icons/DownloadIcon.astro";
import EmailIcon from "@/components/icons/EmailIcon.astro";
import GitHubIcon from "@/components/icons/GitHubIcon.astro";
import LinkedInIcon from "@/components/icons/LinkedInIcon.astro";
import WhatsAppIcon from "@/components/icons/WhatsAppIcon.astro";
---

<section
  class="flex flex-row items-center justify-center gap-12 mt-24 w-[800px]"
  id="home"
>
  <div class="flex flex-col items-center justify-center gap-5">
    <img
      src="./urielrc.webp"
      alt="Uriel RC personal photo"
      class="w-64 h-64 object-contain border-8 bg-urcp-moonstone border-urcp-gunmetal rounded-full"
    />
    <ul class="flex flex-row gap-2">
      <li>
        <a
          class="w-fit flex items-center justify-center gap-1 px-3 py-1 hover:bg-urcp-midnightg/70 hover:rounded-full hover:scale-110 hover:transition hover:ease-in-out hover:duration-400"
          href="https://github.com/uromanc/"
          target="_blank"><GitHubIcon /></a
        >
      </li>
      <li>
        <a
          class="w-fit flex items-center justify-center gap-1 px-3 py-1 hover:bg-urcp-midnightg/70 hover:rounded-full hover:scale-110 hover:transition hover:ease-in-out hover:duration-400"
          href="https://www.linkedin.com/in/ourc/"
          target="_blank"><LinkedInIcon /></a
        >
      </li>
      <li>
        <a
          class="w-fit flex items-center justify-center gap-1 px-3 py-1 hover:bg-urcp-midnightg/70 hover:rounded-full hover:scale-110 hover:transition hover:ease-in-out hover:duration-400"
          href="mailto: ourcssdev@gmail.com"
          target="_blank"><EmailIcon /></a
        >
      </li>
      <li>
        <a
          class="w-fit flex items-center justify-center gap-1 px-3 py-1 hover:bg-urcp-midnightg/70 hover:rounded-full hover:scale-110 hover:transition hover:ease-in-out hover:duration-400"
          href="https://wa.me/528343080544"
          target="_blank"><WhatsAppIcon /></a
        >
      </li>
    </ul>
  </div>
  <div class="w-[400px] flex flex-col gap-5 text-balance text-lg font-thin">
    <p class="text-xl font-bold">Hi there! 👋🏾 I'm Uriel Roman</p>
    <p>
      Front End Developer with +2 years of experience creating and designing
      user interfaces.
    </p>
    <p>
      Autodidact with highly interest in working with<br /> new technologies.
    </p>
    <span class="border border-urcp-eerienb w-[350px]"></span>
    <a
      class="flex items-center justify-start gap-2 rounded-full bg-urcp-moonstone w-fit px-3 py-1 text-sm font-regular hover:bg-urcp-midnightg/70 hover:rounded-full hover:scale-110 hover:transition hover:ease-in-out hover:duration-400"
      href="https://drive.google.com/file/d/1b2NcZVQs96op8eP_ynb1Q4TOjzjH2nR7/view?usp=sharing"
      target="_blank"><DownloadIcon />Download My Resume</a
    >
  </div>
</section>
